# Supabase Variables
VITE_SUPABASE_URL=https://uesbwitrattrmqfxtijv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVlc2J3aXRyYXR0cm1xZnh0aWp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0OTEyODQsImV4cCI6MjA5MzA2NzI4NH0.nk4UMRlDsVuheTZfU67qp8i_ikAC1RzQ9jAvkkP0mJY
